	body {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-size: 13px;
	    line-height: 18px;
	    color: rgb(51, 51, 51);
	}
	
	.navi {
	    margin-top: 20px;
		margin-left: 30px; 	
	
	    width: 220px;
	    float: left;
	}
	.navi .main-side_nav {
	    list-style-type: none;
	    margin: 0px;
	    padding: 0px;
	}
	
	.navi .main-side_nav > li {
	    position: relative;
	    margin: 1px;
		margin-bottom: 5px;
	}
	
	li {
	    line-height: 18px;
	}
	
	.navi .main-side_nav {
	    list-style-type: none;
	}
	
	.navi .main-side_nav > li a.light {
	    color: rgb(51, 51, 51);
	    background-color: rgb(245, 245, 245);
	    background-image: -moz-linear-gradient(center top , rgb(250, 250, 250), rgb(237, 237, 237));
	    background-repeat: repeat-x;
	    box-shadow: 0px 0px 1px 1px rgb(255, 255, 255) inset;
	}
	
	.navi .main-side_nav > li a {
	    display: block;
	    padding: 8px 8px 8px 45px;
	    border: 1px solid rgb(166, 166, 166);
	    border-radius: 3px 3px 3px 3px;
	}
	
	a {
	    color: rgb(185, 74, 72);
	    text-decoration: none;
	}
	
	.navi .main-side_nav > li a.light .ico {
	    box-shadow: 1px 1px 1px rgb(238, 238, 238), 1px 1px 0px 1px rgb(21, 21, 21) inset;
	}
	
	.navi .main-side_nav > li a .ico {
	    position: absolute;
	    top: 5px;
	    left: 8px;
	    float: left;
	    background: none repeat scroll 0% 0% rgb(39, 39, 39);
	    width: 24px;
	    height: 24px;
	    display: block;
	    border-radius: 3px 3px 3px 3px;
	}
	
/*	.navi .main-nav > li a img {
	    margin-top: 7px;
	    float: right;
	    opacity: 0.7;
	}*/
	
	img.left_bar_image {
		
		
	    margin-top: 4px;
	    margin-left: 5px;	
	}
	
	/*right label section*/
	.navi .main-side_nav > li a .label {
	    float: right;
	}
	.label-warning, .badge-warning {
	    background-color: rgb(248, 148, 6);
	}
	.label {
	    padding: 1px 4px 2px;
	    border-radius: 3px 3px 3px 3px;
	}
	.label, .badge {
	    font-size: 11.844px;
	    font-weight: bold;
	    line-height: 14px;
	    color: rgb(255, 255, 255);
	    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	    white-space: nowrap;
	    vertical-align: baseline;
	    background-color: rgb(153, 153, 153);
	}
	
	/*this is the hover effect for the nav_items*/
	.navi .main-side_nav > li a.light:hover {
	    border: 1px solid rgb(39, 39, 39);
	    color: rgb(238, 238, 238);
	    background-color: rgb(54, 54, 54);
	    background-image: -moz-linear-gradient(center top , rgb(60, 60, 60), rgb(47, 47, 47));
	    background-repeat: repeat-x;
	    box-shadow: none;
	}
